@inherits LayoutComponentBase

<div>
    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="">Gherkin Feature Builder</a>
        </div>
    </nav>
    <script src="js/Download.js"></script>
    <!-- Main content -->
    <div class="container mt-4">
        @Body
    </div>
</div>